server:
  port: 8080
  forward-headers-strategy: framework

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      httpclient:
        websocket:
          max-frame-payload-length: 65536
        connect-timeout: 10000
        response-timeout: 600000 # 10ë¶„
      default-filters:
        - AddResponseHeader=X-Gateway-Response, Gateway
#      globalcors:
#        corsConfigurations:
#          '[/**]':
#            allowedOrigins:
#              - "https://a-log.site"
#              - "http://a-log.site"
#              - "https://a-log.netlify.app"
#              - "http://localhost:5173"
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#              - OPTIONS
#            allowedHeaders: "*"
#            allowCredentials: true
      routes:
        - id: gateway-health
          uri: http://localhost:8080
          predicates:
            - Path=/actuator/health

        - id: user-service
          uri: http://user-service:8080
          predicates:
            - Path=/api/user-service/**

        - id: message-service
          uri: http://message-service:8080
          predicates:
            - Path=/api/message-service/**

        - id: alarm-service
          uri: http://alarm-service:8080
          predicates:
            - Path=/api/alarm-service/**

        - id: github-service
          uri: http://github-service:8080
          predicates:
            - Path=/api/career-service/**
          filters:
            - RewritePath=/api/career-service/(?<segment>.*), /api/career/${segment}

        - id: blog-service
          uri: http://blog-service:8080
          predicates:
            - Path=/api/blog-service/**

        - id: websocket-message-service
          uri: ws://message-service:8080
          predicates:
            - Path=/ws/chat